{! /templates/layouts/main.html !}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<base href="/todolist/" />
		<title>{#insert title/}</title>
		{#bundle/}
		<!-- Bundled JS and CSS -->
	</head>
	<body
		class="bg-ink-900 text-white min-h-screen font-sans"
		hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
	>
		<header class="p-4 bg-ink-900 flex justify-between items-center px-28">
			<h1 class="text-xl font-bold">Todo List</h1>
			<button
				hx-get="item/new"
				hx-target="#modal-div"
				hx-swap="innerHTML"
				class="bg-sky-600 hover:bg-sky-700 px-4 py-2 rounded-lg text-white"
			>
				+ Add Item
			</button>
		</header>

		<main
			id="todo-content"
			class="p-4"
		>
			{#insert /} {! Template body !}
		</main>

		<div id="modal-div">{! will get swapped into !}</div>
		<template id="confirm-dialog-template">
			{! confirm delete modal !} {#include fragments/confirmDeleteModal /}
		</template>
	</body>
</html>
