@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes scale-in {
	from {
		transform: scale(0.95);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
.animate-fade-in {
	animation: fade-in 0.2s ease-out;
}
.animate-scale-in {
	animation: scale-in 0.2s ease-out;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes scale-out {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.95);
		opacity: 0;
	}
}
.animate-fade-out {
	animation: fade-out 0.2s ease-in forwards;
}
.animate-scale-out {
	animation: scale-out 0.2s ease-in forwards;
}

/* Loader for items */
.items-loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	display: block;
	animation: rotate 1s linear infinite;
}
.items-loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid var(--color-ink-400);
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(
			50% 50%,
			0 0,
			100% 0,
			100% 100%,
			100% 100%,
			100% 100%
		);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

/* htmx indicator logic */
.htmx-request .htmx-indicator + span {
	visibility: hidden;
}
.htmx-request.htmx-indicator + span {
	visibility: hidden;
}
